<style>
  .summary-stale {
    opacity: 0.5;
  }
  .generating-text {
    margin-left: 10px;
    font-style: italic;
    color: #777;
  }
</style>

<div id="issue-summary-container">
  <%= render partial: 'ai_summaries/summary_content', locals: { issue: @issue } %>
</div>

<script>
  (function() {
    var container = document.getElementById('issue-summary-container');
    var issueId = <%= @issue.id %>;
    var pollingInterval;

    function pollSummaryStatus() {
      if (document.hidden) {
        return;
      }

      var summaryElement = container.querySelector('#issue-summary');
      var currentStatus = summaryElement ? summaryElement.dataset.status : null;

      if (currentStatus === 'up_to_date') {
        clearInterval(pollingInterval);
        return;
      }

      fetch('/issues/' + issueId + '/ai_summaries/content')
        .then(function(response) {
          return response.text();
        })
        .then(function(html) {
          var newContainer = document.createElement('div');
          newContainer.innerHTML = html;
          var newSummaryElement = newContainer.querySelector('#issue-summary');
          var newStatus = newSummaryElement ? newSummaryElement.dataset.status : null;

          container.innerHTML = html;

          if (newStatus === 'up_to_date') {
            clearInterval(pollingInterval);
          }
        });
    }

    var initialStatus = container.querySelector('#issue-summary').dataset.status;
    if (initialStatus === 'generating' || initialStatus === 'stale') {
      pollingInterval = setInterval(pollSummaryStatus, 5000);
    }
  })();
</script>