<div id="issue-summary-container">
  <%= render partial: 'ai_summaries/summary_content', locals: { issue: @issue } %>
</div>

<script>
  (function() {
    var container = document.getElementById('issue-summary-container');
    var issueId = <%= @issue.id %>;
    var initialStatus = container.querySelector('#issue-summary').dataset.status;

    function pollSummaryStatus() {
      if (document.hidden) {
        return;
      }

      var currentStatus = container.querySelector('#issue-summary').dataset.status;
      if (currentStatus === 'up_to_date') {
        return;
      }

      fetch('/issues/' + issueId + '/ai_summaries/content')
        .then(function(response) {
          return response.text();
        })
        .then(function(html) {
          container.innerHTML = html;
        });
    }

    if (initialStatus === 'generating' || initialStatus === 'stale') {
      setInterval(pollSummaryStatus, 5000);
    }
  })();
</script>